{% extends 'base.html' %} 
{% block content %}

<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shopping Cart</h1>
      <p class="lead fw-normal text-white-50 mb-0">View your cart ...</p>
    </div>
  </div>
</header>

<div class="container pt-4">
  {% if cart_products %}
    {% for product in cart_products %}
      <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              {% if product.on_offer %}
                <div class="">
                  <div class="d-flex  small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <strike>KES {{ product.price }}</strike>
                  &nbsp; {{ product.offer_price }}
                </div>
              {% else %}
                <div class="">
                  <p>KES {{ product.price }}</p>
                </div>
              {% endif %}
                <div class="col-md-4">Quantity:</div>
            <div class="col-md-2">
              <select class="form-select" id="select{{product.id}}">
               <option selected>
                {% for key, value in quantities.items%}
                  {% if key == product.id|slugify%}
                    {{ value }}
                  {% endif %}
                {% endfor %}
               </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
              <div class="d-flex gap-5 mt-3">
                <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
                <button
                class="btn btn-secondary"
                id="update-cart"
                type="button" data-index="{{product.id}}">Update</button>
               <button
                class="btn btn-danger"
                id="remove-cart"
                type="button" data-index="{{product.id}}"
               >Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <br>
    <h3>Total: KES {{totals}}</h3>
      <br />
      
  {% else %}
    <div class="py-5">
      <p class="text-danger">There is nothing in your cart.</p>
    </div>
  {% endif %}
</div>

<br><br><br><br><br><br><br><br><br><br>




<!-- <script> to update the cart item quantity -->

  <script>
    $(document).on("click", "#update-cart", function (e) {
      e.preventDefault();

      // product id
      var product_id = $(this).data("index");
      $.ajax({
        type: "POST",
        url: '{% url "cart_update" %}',
        data: {
          product_id: $(this).data("index"),
          product_qty: $("#select"+$(this).data("index")+" option:selected").text(),
          csrfmiddlewaretoken: "{{ csrf_token }}",
          action: "post",
        },
        success: function (json) {
          document.getElementById("cart_quantity").textContent = json.qty;
          location.reload();
        },
      });
    });

    // remove item from cart
    $(document).on("click", "#remove-cart", function (e) {
      e.preventDefault();
      var product_id = $(this).data("index");
      $.ajax({
        type: "POST",
        url: '{% url "cart_delete" %}',
        data: {
          product_id: $(this).data("index"),
          csrfmiddlewaretoken: "{{ csrf_token }}",
          action: "post",
        },
        success: function (json) {
          document.getElementById("cart_quantity").textContent = json.qty;
          location.reload();
        },
      });
    });

  </script>

{% endblock %}